[Desktop Entry]
Name=WebStorm
Icon=/home/tunknown/.local/share/JetBrains/Toolbox/apps/WebStorm/ch-0/.icon.svg
StartupWMClass=jetbrains-webstorm
Comment=The smartest JavaScript IDE
Exec="/home/tunknown/.local/share/JetBrains/Toolbox/apps/WebStorm/ch-0/201.7223.93/bin/webstorm.sh" %f
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false